<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>572906959869-d5snj4i24ffipktiaqf9m66sh1b9obap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACJWJjuJftdhK1ctKXCf-oA6VAg5MtHhE</string>
	<key>GCM_SENDER_ID</key>
	<string>572906959869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>cavina-ai-8e2e4</string>
	<key>STORAGE_BUCKET</key>
	<string>cavina-ai-8e2e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572906959869:ios:fcc339249b1e2320739f94</string>
	<key>DATABASE_URL</key>
	<string>https://cavina-ai-8e2e4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>